
<!DOCTYPE html>
<html>
<title>Test</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<link href="https://webmap-blog.ru/examples/add-users-ymapsapi2/css/bootstrap.min.css" rel="stylesheet" />

<!-- <link rel="stylesheet" type="text/CSS" src="mainStyle.css">
<script src="mainScript.js"></script> -->
<script>
	var myMap, myPlacemark, coords;
ymaps.ready(init);
function init () {

    //Определяем начальные параметры карты
    myMap = new ymaps.Map('YMapsID', {
            center: [66.666666, 66.666666], 
            zoom: 10, 
            behaviors: ['default', 'scrollZoom']
    });	
    
    //Определяем элемент управления поиск по карте	
    var SearchControl = new ymaps.control.SearchControl({noPlacemark:true});	

    //Добавляем элементы управления на карту
    myMap.controls
        .add(SearchControl)                
        .add('zoomControl')                
        .add('typeSelector')                 
        .add('mapTools');
        
    coords = [44.444444, 44.444444];
    
    //Определяем метку и добавляем ее на карту				
    myPlacemark = new ymaps.Placemark([55.555555, 55.555555],{}, {preset: "twirl#redIcon", draggable: true});	
    
    myMap.geoObjects.add(myPlacemark);			

    //Отслеживаем событие перемещения метки
    myPlacemark.events.add("dragend", function (e) {			
        coords = this.geometry.getCoordinates();
        savecoordinats();
    }, myPlacemark);

    //Отслеживаем событие щелчка по карте
    myMap.events.add('click', function (e) {        
        coords = e.get('coordPosition');
        savecoordinats();
    });	

    //Отслеживаем событие выбора результата поиска
    SearchControl.events.add("resultselect", function (e) {
        coords = SearchControl.getResultsArray()[0].geometry.getCoordinates();
        savecoordinats();
    });
    
    //Ослеживаем событие изменения области просмотра карты - масштаб и центр карты
    myMap.events.add('boundschange', function (event) {
    if (event.get('newZoom') != event.get('oldZoom')) {		
        savecoordinats();
    }
    if (event.get('newCenter') != event.get('oldCenter')) {		
        savecoordinats();
    }
    
    });
    
}

//Функция для передачи полученных значений в форму
function savecoordinats (){	
    var new_coords = [coords[0].toFixed(4), coords[1].toFixed(4)];	
    var lat = coords[0].toFixed(4);	
    var lon = coords[1].toFixed(4);
    myPlacemark.getOverlay().getData().geometry.setCoordinates(new_coords);
    document.getElementById("lat").value = lat;
    document.getElementById("lon").value = lon;
}
function save(){
    const url='/save/';
    const hInput=document.getElementById('h');
    const horInput=document.getElementById('hor');
    const MhInput=document.getElementById('Mh');
    lat = coords[0].toFixed(4);	//lat.value;
    lon = coords[1].toFixed(4);//lon.value;
    h = hInput.value;
    hor = horInput.value;
    Mh = MhInput.value;

    let data={lat:lat, lon:lon, alt:h, hor:hor, Mh:Mh};

    let fetchData={
        method:'POST',
        body: JSON.stringify(data),
        headers: new Headers({
        'Content-Type':'application/json; charset=UTF-8'
        })
    }
    fetch(url,fetchData)
        .then(function(){
    })
}				
</script>

<style>
html, body, #YMapsID {
margin-top: 8%;
margin-bottom: 0%;
padding: 0;
height: 80%;
}

.head{
    width: 100%;
    background: #54b6ee;
    position: fixed;
    left: 0;
    top: 0;
    padding-bottom: 15px;
    z-index: 2;
}

#coord_form{
position: absolute;
z-index: 1000;
background: none repeat scroll 0% 0% rgb(255, 255, 255);
list-style: none outside none;
padding: 10px;
margin: 0px;
right: 170px;
top: 5px;
}
</style>

<head class="head">
	<a href='/'>Домой</a>
	<a href='/control/'>Управление</a>
	<a href='/forward/'>Расписание</a>
</head>

<body>
	<div id="YMapsID"></div>
	<!-- <form class="form" method="post" action="/forward/"> -->
	<div id="coord_form">
		<label>Координаты: </label> <label>Широта: </label><input id="lat" class="input-medium" name="lat" /> <label>Долгота: </label><input id="lon" class="input-medium" name="lon" />
		<label class="inputlabel"> Высота <input type="number" id="h" name="h" step="0.001"></label>
		<label class="inputlabel"> Горизонт <input type="number" name="hor" id="hor" style="width: 4em" min="0" max="90" step="1"></label>
		<label class="inputlabel"> Минимальная высота пролета <input type="number" name="Mh" id="Mh" style="width: 4em" min="0" max="90" step="0.5"></label>
		<button type="submit" onclick = save() >Сохранить</button>
	</div>
</body>
</html>